<!-- <h1>This is the home page</h1>
<br>
<%= link_to 'Check Listing', articles_path %> |
<%= link_to 'About', about_path %> -->

<div id="page-content">
    <div class="container container-fluid" id="home-container">
        <div class="jumbotron text-center">
            <h1 class="display-4 text-white">Alpha Blog</h1>
            <p class="lead text-white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p class="text-white">It uses utility classes for typography and spacing to space content out within the larger container.</p>
        
            <%= link_to "Sign Up!", signup_path, class: "btn btn-success" %>
        </div>
    </div>
</div>

